In [1]:
from numpy.random import choice, normal, uniform, binomial
from numpy import sum, mean, zeros, array, NaN, floor, sqrt, std
import pandas as pd
from math import comb
from numpy.random import seed, choice
import numpy as np
import itertools
from tqdm import tqdm

In [2]:
pd.options.mode.chained_assignment = None
seed(1234)

# Simulating Data

We will simulate two types of users (enthusiasts and normal), with proportion `prob_enthusiast`. Enthusiast have a higher impact on the outcome `enthusiast_effect` and also a higher acceptance rate `inc_enth_cons` of doing the recommended items. So the type of users is an **unobserved confounder**. 

Each user does `sessions_n` sessions, and at each session, there are only `k` items recommended. There is an underlying recommender system (the recommender system by default) that always recommends items 0:`k` for normal users, while always recommends the last `k` items to enthusiasts. Every session, with probability `exploration_prob` the items are recommended uniformly at random. 

The outcome is calculated as follows. Each treatment `i` has an additve causal impact of `i` (to make it easy the index of the item is the same causal impact). The outcome is the addition of each item consumed, plus some noise `delta`. As already said, enthusiast have an extra bonus of `enthusiast_effect` in the outcome.

In [3]:
treatments_n = 5
patients_n = 50000
sessions_n = 2
k = 3
delta = 0.1
exploration_prob = 0.5

prob_enthusiast = 0.4
enthusiast_effect = 10
base_consumption = 0.2
inc_enth_cons = 0.4

bootstrap_n = 150

In [4]:
ids = []
sessions = []
patient_types = []
treatments = []
recommendations = []
consumptions = []
originals = []
explorations = []

treats_ids = list(range(treatments_n))

k_i = 1
k_e = k - 1

for id in range(patients_n):
    patient_type = choice([0, 1], size=1, p=[1-prob_enthusiast, prob_enthusiast])[0]
    for session in range(sessions_n):
        exploration = binomial(1, exploration_prob, size=1)[0]
        original = None
        if patient_type == 1:
            original = treats_ids[:k_i] + treats_ids[-k_e:]
        else:
            original = treats_ids[:k_e] + treats_ids[-k_i:]
        if exploration == 1:
            recommended = choice(treats_ids, size=k, replace=False)
        else:
            recommended = original
            
        recommended = [int(treat in recommended) for treat in treats_ids]     
        original = [int(treat in original) for treat in treats_ids]     
        
        consumption = []
        for treat in range(treatments_n):
            score_assign = base_consumption + inc_enth_cons*patient_type
            item_cons = int(uniform(size=1)[0] <= score_assign)
            item_cons *= recommended[treat]
            consumption.append(item_cons)
        
        ids += [id]*treatments_n
        sessions += [session]*treatments_n
        patient_types += [patient_type]*treatments_n
        treatments += treats_ids
        recommendations += recommended
        consumptions += consumption
        explorations += [exploration]*treatments_n
        originals += original
    
df = pd.DataFrame({
    'id': ids,
    'session': sessions, 
    'patient_type': patient_types,
    'treatment': treatments, 
    'original': originals,
    'recommended': recommendations,
    'consumed': consumptions,
    'exploration': explorations
})

outcomes = df.groupby('id').apply(lambda x: 
    (sum(x['treatment']*x['consumed']) + 
    mean(x['patient_type'])*enthusiast_effect + 
    normal(size=1, scale=delta))[0]
).reset_index()
outcomes.rename(columns={0:'outcome'}, inplace = True)
df = df.merge(outcomes, on='id')

In [5]:
df.head(n=treatments_n*sessions_n)

,id,session,patient_type,treatment,original,recommended,consumed,exploration,outcome
0,0,0,0,0,1,0,0,1,0.058275
1,0,0,0,1,1,1,0,1,0.058275
2,0,0,0,2,0,1,0,1,0.058275
3,0,0,0,3,0,1,0,1,0.058275
4,0,0,0,4,1,0,0,1,0.058275
5,0,1,0,0,1,0,0,1,0.058275
6,0,1,0,1,1,1,0,1,0.058275
7,0,1,0,2,0,0,0,1,0.058275
8,0,1,0,3,0,1,0,1,0.058275
9,0,1,0,4,1,1,0,1,0.058275

In [6]:
recs = df.pivot(index=['id', 'session', 'exploration'], columns='treatment', values='recommended').reset_index().merge(outcomes, on='id')
consumes = df.pivot(index=['id', 'session', 'exploration'], columns='treatment', values='consumed').reset_index().merge(outcomes, on='id')
originals = df.pivot(index=['id', 'session', 'exploration'], columns='treatment', values='original').reset_index().merge(outcomes, on='id')

In [7]:
recs.head(sessions_n)

   id  session  exploration  0  1  2  3  4   outcome
0   0        0            1  0  1  1  1  0  0.058275
1   0        1            1  0  1  0  1  1  0.058275

In [8]:
consumes.head(sessions_n)

   id  session  exploration  0  1  2  3  4   outcome
0   0        0            1  0  0  0  0  0  0.058275
1   0        1            1  0  0  0  0  0  0.058275

In [9]:
originals.head(sessions_n)

   id  session  exploration  0  1  2  3  4   outcome
0   0        0            1  1  1  0  0  1  0.058275
1   0        1            1  1  1  0  0  1  0.058275

# Basic Stats

In [10]:
res = df[df.recommended==1].groupby('patient_type').consumed.mean().reset_index()
res

   patient_type  consumed
0             0  0.199047
1             1  0.602790

In [11]:
res = df.groupby('patient_type').outcome.mean().reset_index()
res

   patient_type    outcome
0             0   2.187728
1             1  17.804689

# Helping functions

In [12]:
def rmse(diff_1, diff_2):
    return(sqrt(mean((diff_1 - diff_2)**2)))

In [13]:
def resample(recs, originals):
    n_rows = int(recs.shape[0]/sessions_n)
    inds = choice(n_rows, n_rows, replace=True)
    inds = np.array([j for i in inds for j in range(sessions_n*i, sessions_n*i + sessions_n)])
    return recs.iloc[inds, :], originals.iloc[inds, :]

In [14]:
def estimate_score(results_0):
    results = results_0.copy()
    scores = results[:, 0]
    for col in range(1, results.shape[0]):
        scores += results[:, col] - results[col, 0]
    scores /= results.shape[0]
    return(scores)

In [15]:
def rank_differences(results_0):
    results = results_0.copy()
    rank = results.iloc[:, 0]
    for col in range(1, results.shape[0]):
        rank += results.iloc[:, col] - results.iloc[col, 0]
    rank /= results.shape[0]
    return(rank.sort_values(ascending=False))

In [16]:
def rank_scores(results_0):
    results = results_0.copy()
    results_stats = pd.DataFrame({
        'treatment_id': list(range(results.shape[1])), 
        'score': np.apply_along_axis(mean, 0, results),
        '2.5%': np.apply_along_axis(lambda x: np.quantile(x, 0.025), 0, results),
        '97.5%': np.apply_along_axis(lambda x: np.quantile(x, 0.975), 0, results),

    })
    return(results_stats.sort_values(by='score', ascending=False))

In [17]:
def table_results(reference_scores, tables, names):
    table_res = reference_scores.copy()

    table_res.reset_index(names=['treatment_id'], inplace=True)
    table_res.reset_index(names=['position'], inplace=True)

    for res, name_ in zip(tables, names):
        res_ = res.copy()
        res_['score_' + name_] = res_.apply(lambda row: f"{row['score']:.2f} ({row['2.5%']:.2f}, {row['97.5%']:.2f})", axis=1)
        res_['score_' + name_ + '_val'] = res_['score']
        res_['position_' + name_] = list(range(res_.shape[0]))

        table_res = table_res.merge(res_[['treatment_id', 'score_' + name_ + '_val', 'position_' + name_, 'score_' + name_]], on='treatment_id')
        table_res['diff_' + name_] = table_res['score'] - table_res['score_' + name_ + '_val']
        table_res['diff_position_' + name_] = table_res['position'] - table_res['position_' + name_]
        table_res = table_res.drop(['position_' + name_, 'score_' + name_ + '_val'], axis=1)

    table_res = table_res.drop('position', axis=1)
    return(table_res)

# Real Impact of Recommendations

This are the difference of causal impact between pairs of items

In [18]:
expected_diff_treats = zeros((treatments_n, treatments_n))

expected_compliers = base_consumption*(1-prob_enthusiast) + (base_consumption + inc_enth_cons)*prob_enthusiast

for treat_1 in range(treatments_n):
    for treat_2 in range(treatments_n):
        expected_diff_treats[treat_1, treat_2] = (treat_1 - treat_2)*expected_compliers

pd.DataFrame(expected_diff_treats.round(2))

      0     1     2     3     4
0  0.00 -0.28 -0.56 -0.84 -1.12
1  0.28  0.00 -0.28 -0.56 -0.84
2  0.56  0.28  0.00 -0.28 -0.56
3  0.84  0.56  0.28  0.00 -0.28
4  1.12  0.84  0.56  0.28  0.00

In [19]:
rank_differences(pd.DataFrame(expected_diff_treats))

4    0.00
3   -0.28
2   -0.56
1   -0.84
0   -1.12
Name: 0, dtype: float64

# Direct Estimation Recommendations

This is the difference between recommendations obtained by trivial computations. The results are biased, leading to an incorrect order.

In [20]:
diff_treats_0 = zeros((bootstrap_n, treatments_n, treatments_n))
scores_results_0 = zeros((bootstrap_n, treatments_n))
rmse_results_0 = []

for repetition in tqdm(range(bootstrap_n)):
    recs_resample, _ = resample(recs, originals)
    for treat_1 in range(treatments_n):
        for treat_2 in range(treatments_n):
            try: 
                inds_1_0 = recs_resample.loc[:, treat_1] == 1
                inds_2_0 = recs_resample.loc[:, treat_2] == 1
                res_1 = recs_resample[inds_1_0].loc[:, 'outcome'].mean() - recs_resample[inds_2_0].loc[:, 'outcome'].mean()
            except:
                res_1 = NaN
            diff_treats_0[repetition, treat_1, treat_2] = res_1
    scores_results_0[repetition] = estimate_score(diff_treats_0[repetition, :, :])
    rmse_results_0.append(rmse(diff_treats_0[repetition, :, :], expected_diff_treats))

100%|█████████████████████████████████████████| 150/150 [00:59<00:00,  2.50it/s]

In comparison with the theoretical results

In [21]:
rmse_quantiles = np.quantile(rmse_results_0, [0.025, 0.5, 0.975])
print(f"RMSE with 95% confidence interval: {rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")
rank_scores(scores_results_0)

RMSE with 95% confidence interval: 2.18 (2.15, 2.22)

   treatment_id     score      2.5%     97.5%
3             3  3.243422  3.192031  3.296848
4             4  0.000000  0.000000  0.000000
2             2 -0.002893 -0.079097  0.066665
0             0 -0.191284 -0.216210 -0.162376
1             1 -1.991173 -2.037148 -1.947565

# Direct Increment Estimation Recommendations

An estimator based on the differences between when an item has been selected and when it is not. The results are biased, leading to an incorrect order.

In [22]:
diff_treats_0_inc = zeros((bootstrap_n, treatments_n, treatments_n))
scores_results_0_inc = zeros((bootstrap_n, treatments_n))
rmse_results_0_inc = []

for repetition in tqdm(range(bootstrap_n)):
    recs_resample, _ = resample(recs, originals)
    for treat_1 in range(treatments_n):
        for treat_2 in range(treatments_n):
            try: 
                inds_1_0 = recs_resample.loc[:, treat_1] == 1
                inds_2_0 = recs_resample.loc[:, treat_2] == 1
                impact_1 = recs_resample[inds_1_0].loc[:, 'outcome'].mean() - recs_resample[~inds_1_0].loc[:, 'outcome'].mean()
                impact_2 = recs_resample[inds_2_0].loc[:, 'outcome'].mean() - recs_resample[~inds_2_0].loc[:, 'outcome'].mean()
                res_1 = impact_1 - impact_2
            except:
                res_1 = NaN
            diff_treats_0_inc[repetition, treat_1, treat_2] = res_1
    scores_results_0_inc[repetition] = estimate_score(diff_treats_0_inc[repetition, :, :])
    rmse_results_0_inc.append(rmse(diff_treats_0_inc[repetition, :, :], expected_diff_treats))

100%|█████████████████████████████████████████| 150/150 [01:39<00:00,  1.51it/s]

In comparison with the theoretical results

In [23]:
rmse_quantiles = np.quantile(rmse_results_0_inc, [0.025, 0.5, 0.975])
print(f"RMSE with 95% confidence interval: {rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")
rank_scores(scores_results_0_inc)

RMSE with 95% confidence interval: 5.1 (5.02, 5.18)

   treatment_id     score      2.5%     97.5%
3             3  5.128123  4.973438  5.255056
4             4  0.000000  0.000000  0.000000
2             2 -0.304478 -0.447994 -0.150573
0             0 -0.959856 -1.093565 -0.801170
1             1 -6.814001 -6.953853 -6.652465

# Inverse Probability Weighting with Propensity Scores

Using inverse probability weighting to remove the effect of confounders. The results are biased, leading to an incorrect order.

In [24]:
diff_treats_ipw = zeros((bootstrap_n, treatments_n, treatments_n))
scores_results_ipw = zeros((bootstrap_n, treatments_n))
rmse_results_ipw = []

N = treatments_n

for repetition in tqdm(range(bootstrap_n)):
    recs_resample, _ = resample(recs, originals)
    for treat_1, treat_2 in list(itertools.product(treats_ids, treats_ids)):

        propensity_scores_1 = exploration_prob/N + (1 - exploration_prob)*originals[treat_1]
        propensity_scores_2 = exploration_prob/N + (1 - exploration_prob)*originals[treat_2]

        # Calculating Adjustment Formula
        treat_data = recs.copy()
        treat_data['propensity_scores_1'] = exploration_prob/N + (1 - exploration_prob)*originals[treat_1]
        treat_data['propensity_scores_2'] = exploration_prob/N + (1 - exploration_prob)*originals[treat_2]

        do_1 = 0
        for control_vars, sub_data in treat_data.groupby('propensity_scores_1'):
            prop = sub_data.shape[0]/treat_data.shape[0]
            do_1 += sub_data[sub_data[treat_1] == 1].outcome.mean()*prop

        do_2 = 0
        for control_vars, sub_data in treat_data.groupby('propensity_scores_2'):
            prop = sub_data.shape[0]/treat_data.shape[0]
            do_2 += sub_data[sub_data[treat_2] == 1].outcome.mean()*prop

        diff_treats_ipw[repetition, treat_1, treat_2] = do_1 - do_2
    scores_results_ipw[repetition] = estimate_score(diff_treats_ipw[repetition, :, :])
    rmse_results_ipw.append(rmse(diff_treats_ipw[repetition, :, :], expected_diff_treats))

100%|█████████████████████████████████████████| 150/150 [03:49<00:00,  1.53s/it]

In comparison with the theoretical results

In [25]:
rmse_quantiles = np.quantile(rmse_results_ipw, [0.025, 0.5, 0.975])
print(f"RMSE with 95% confidence interval: {rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")
rank_scores(scores_results_ipw)

RMSE with 95% confidence interval: 0.43 (0.43, 0.43)

   treatment_id     score      2.5%     97.5%
3             3  0.105527  0.105527  0.105527
4             4  0.000000  0.000000  0.000000
2             2 -0.006520 -0.006520 -0.006520
0             0 -0.191233 -0.191233 -0.191233
1             1 -0.256248 -0.256248 -0.256248

# Our Method

You can see that with our method we obtain a much lower RMSE, and the correct order of impact of the items

In [26]:
diff_treats = zeros((bootstrap_n, treatments_n, treatments_n))
scores_results = zeros((bootstrap_n, treatments_n))
rmse_results = []

N = treatments_n
q = exploration_prob/comb(N-2, k-1)

for repetition in tqdm(range(bootstrap_n)):
    recs_resample, originals_resample = resample(recs, originals)
    recs_np = recs_resample[treats_ids].to_numpy()
    originals_np = originals_resample[treats_ids].to_numpy()
    for treat_1, treat_2 in list(itertools.product(treats_ids, treats_ids)):
        if treat_1 < treat_2:
            other_treatments = [t for t in treats_ids if t not in [treat_1, treat_2]]

            # Calculate Propensity Scores
            L = recs_np[:, other_treatments]*originals_np[:, other_treatments]
            L += (1 -recs_np[:, other_treatments])*(1-originals_np[:, other_treatments])
            L = (np.apply_along_axis(np.sum, 1, L) == N-2).astype(int)
            eta = q/(q + L*(1-exploration_prob))
            propensity_scores = eta/2 + L*originals_np[:, treat_1]*(1-eta)

            # Calculating Adjustment Formula
            inds = recs_np[:, treat_1] != recs_np[:, treat_2]
            diff_data = recs_resample[inds]
            diff_data['propensity_scores'] = propensity_scores[inds]

            do_1 = 0
            for control_vars, sub_data in diff_data.groupby('propensity_scores'):
                prop = sub_data.shape[0]/diff_data.shape[0]
                do_1 += sub_data[sub_data[treat_1] == 1].outcome.mean()*prop

            n_ps_2 = 0
            do_2 = 0
            for control_vars, sub_data in diff_data.groupby('propensity_scores'):
                prop = sub_data.shape[0]/diff_data.shape[0]
                do_2 += sub_data[sub_data[treat_2] == 1].outcome.mean()*prop

            diff_treats[repetition, treat_1, treat_2] = do_1 - do_2
            diff_treats[repetition, treat_2, treat_1] = -do_1 + do_2
    scores_results[repetition] = estimate_score(diff_treats[repetition, :, :])
    rmse_results.append(rmse(diff_treats[repetition, :, :], expected_diff_treats))

100%|█████████████████████████████████████████| 150/150 [28:06<00:00, 11.25s/it]

In comparison with the theoretical results

In [27]:
rmse_quantiles = np.quantile(rmse_results, [0.025, 0.5, 0.975])
print(f"RMSE with 95% confidence interval: {rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")
rank_scores(scores_results)

RMSE with 95% confidence interval: 0.1 (0.07, 0.14)

   treatment_id     score      2.5%     97.5%
4             4  0.000000  0.000000  0.000000
3             3 -0.305893 -0.402835 -0.218600
2             2 -0.521972 -0.638438 -0.395283
1             1 -0.874426 -0.962549 -0.779163
0             0 -1.050177 -1.160555 -0.925660

# Table Results

In [28]:
res_0 = pd.DataFrame({
    'score': rank_differences(pd.DataFrame(expected_diff_treats))
})

tables = [
    rank_scores(scores_results), 
    rank_scores(scores_results_0),
    rank_scores(scores_results_0_inc),
    rank_scores(scores_results_ipw),
    
]
names = ['ours', 'direct', 'incremental', 'ipw']
final_table = table_results(res_0, tables, names)
final_table

,treatment_id,score,score_ours,diff_ours,diff_position_ours,score_direct,diff_direct,diff_position_direct,score_incremental,diff_incremental,diff_position_incremental,score_ipw,diff_ipw,diff_position_ipw
0,4,0.00,"0.00 (0.00, 0.00)",0.000000,0,"0.00 (0.00, 0.00)",0.000000,-1,"0.00 (0.00, 0.00)",0.000000,-1,"0.00 (0.00, 0.00)",0.000000,-1
1,3,-0.28,"-0.31 (-0.40, -0.22)",0.025893,0,"3.24 (3.19, 3.30)",-3.523422,1,"5.13 (4.97, 5.26)",-5.408123,1,"0.11 (0.11, 0.11)",-0.385527,1
2,2,-0.56,"-0.52 (-0.64, -0.40)",-0.038028,0,"-0.00 (-0.08, 0.07)",-0.557107,0,"-0.30 (-0.45, -0.15)",-0.255522,0,"-0.01 (-0.01, -0.01)",-0.553480,0
3,1,-0.84,"-0.87 (-0.96, -0.78)",0.034426,0,"-1.99 (-2.04, -1.95)",1.151173,-1,"-6.81 (-6.95, -6.65)",5.974001,-1,"-0.26 (-0.26, -0.26)",-0.583752,-1
4,0,-1.12,"-1.05 (-1.16, -0.93)",-0.069823,0,"-0.19 (-0.22, -0.16)",-0.928716,1,"-0.96 (-1.09, -0.80)",-0.160144,1,"-0.19 (-0.19, -0.19)",-0.928767,1

In [30]:
print('Ours')
rmse_quantiles = np.quantile(rmse_results, [0.025, 0.5, 0.975])
print(f"{rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")

print('Direct')
rmse_quantiles = np.quantile(rmse_results_0, [0.025, 0.5, 0.975])
print(f"{rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")

print('Incremental')
rmse_quantiles = np.quantile(rmse_results_0_inc, [0.025, 0.5, 0.975])
print(f"{rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")

print('IPW')
rmse_quantiles = np.quantile(rmse_results_ipw, [0.025, 0.5, 0.975])
print(f"{rmse_quantiles[1].round(2)} ({rmse_quantiles[0].round(2)}, {rmse_quantiles[2].round(2)})")

Ours
0.1 (0.07, 0.14)
Direct
2.18 (2.15, 2.22)
Incremental
5.1 (5.02, 5.18)
IPW
0.43 (0.43, 0.43)